.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow:0px 4px 5px 0px rgba(0,0,0,0.2);

  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    background-color: #FF6369;
  }
}